
body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial;

}
.ima{
    background: url(otherprojects.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100%;
    opacity: 0,5;
}
body {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    color: #555;
    background-color: #f1efeb;
}
.title{
    text-align: center;
    padding-top: 200px;
    color: #f1efeb;
}
.conff{
    width: auto;
    height: 290px;
   background-color: #f7f6f4; 
 border-radius: 5px;
 margin-bottom: 30px;

padding-top: 20px;
}
.confiiiiii{
    width: auto;
    height: 390px;
   background-color: #f7f6f4; 
 border-radius: 5px;
 margin-bottom: 30px;

padding-top: 20px;

}
.conffiiiiii{
    width: auto;
    height: 480px;
   background-color: #f7f6f4; 
 border-radius: 5px;
 margin-bottom: 30px;

padding-top: 20px;

}
#ai{
    padding-bottom: 50px;
}

#bot{
    margin-left: 145px;
}